{% extends "base.html" %}
{% block extra_css %}
    <!-- <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet"> -->
{% endblock %}

{% block title %}Portfolio - Moonshot{% endblock %}

{% set active_page = "portfolio" %}

{% block content %}
        {% if current_user.is_authenticated %}
        <h1>Welcome back to the Surface, {{ current_user.username }}</h1>
        {% if current_user.role == "admin" %}
        <h2>Admin Portfolio</h2>
        <p>This is visible only to admins.</p>
        {% elif current_user.role == "user" %}
        <h2>User Portfolio</h2>
        <p>This is visible only to regular users.</p>
        {% endif %}
        {% else %}
        <h1>You are not logged in</h1>
        {% endif %}
{% endblock %}

{% block extra_js %}
    
{% endblock %}