{% extends "base.html" %}
{% block extra_css %}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Register - Moonshot{% endblock %}

    {% block content %}
    <div class="top-nav">
        <a class="logo-area" href="/">
            <!-- lucide.dev/icons/arrow-up-right -->
            <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 20L20 4M20 4H8M20 4V16" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>Moonshot</span>
        </a>
    </div>

    <div class="page-center">
        <div class="form-wrapper">
            <form action="#" method="post">
                {% if error %}
                <div class="alert alert-danger py-2" role="alert">{{ error }}</div>
                {% endif %}
                <div class="mb-3">
                    <label for="full_name" class="form-label">Full Name:</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-4">
                    <label for="confirm_password" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    <div class="invalid-feedback">Passwords do not match.</div>
                </div>
                <button type="submit" class="btn btn-green">Create account</button>
            </form>
            <div class="bottom-links">
                <a href="/login">Already have an account?</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}